<%@ Master Language="C#" AutoEventWireup="true" CodeBehind="Pharmacist.master.cs" Inherits="Hospital_Management_System.Pharmacist" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
    <asp:ContentPlaceHolder ID="head" runat="server">
    </asp:ContentPlaceHolder>
    <!-- BootStrap and Jquery-->
    <link href="Content/bootstrap.min.css" rel="stylesheet" />
    <script src="Scripts/bootstrap.min.js"></script>
    <script src="Scripts/popper.min.js"></script>
    <script src="Scripts/jquery-3.0.0.min.js"></script>


    <link href="default.css" rel="stylesheet" type="text/css" media="all" />
<link href="fonts.css" rel="stylesheet" type="text/css" media="all" />
    <link href="styles.css" rel="stylesheet" type="text/css" media="all" />
    <style type="text/css">
        #sidebar1 {
            width: 1083px;
            height: 369px;
        }
    </style>
</head>
<body>
    <form id="form1" runat="server">
      
    <div id="wrapper">
	<div id="header-wrapper">
		<div id="header" class="container">
			<div id="logo">
				<h1><a href="#">HMS</a></h1>
				
			</div>
		</div>
	</div>
	<div id="menu-wrapper">
		

            <div id='cssmenu'>
<ul>
   <li class='active'><a href='#'><span>Home</span></a></li>
   
   
    
    <li class='has-sub'><a href='#'><span>Reports</span></a>
        <ul>
         <li><a href='#'><span>View Report</span></a></li>
         
      </ul>
   </li>
     <li class='has-sub'><a href='#'><span>Inventory Order</span></a>
          <ul>
         <li><a href='#'><span>Place Order</span></a></li>
          <li><a href='#'><span>View Orders</span></a></li>
      </ul>

     </li>
   <li class='has-sub'><a href='#'><span>Inventory Management</span></a>
       <ul>
         <li><a href='#'><span>Add Item</span></a></li>
         <li><a href='#'><span>Delete Item</span></a></li>
           <li><a href='#'><span>Search Item</span></a></li>
           <li><a href='#'><span>Update Item</span></a></li>
        
      </ul>
   </li>
    
        <li class='has-sub' id="userNameBlock" runat="server"><a href='#' aria-disabled="true">Welcome <span id="userName" runat="server">User</span></a> </li>
                        <li class='last'><a href="LoginPage.aspx"><span id="Login" runat="server">Login</span></a> </li>
</ul>
</div>
			<!--<ul>
				<li class="current_page_item"><a href="#">Homepage</a></li>
				<li><a href="#">Patient Services</a></li>
				<li><a href="#">Doctors</a></li>
				<li><a href="#">Login</a></li>
				<li><a href="#">Contact</a></li>
			</ul> -->
		</div>
		<!-- end #menu --> 
	
	<div id="banner"></div>
	<div id="page" class="container">
		<div id="content">
			
            <div id="sidebar1">
			
        <asp:ContentPlaceHolder ID="ContentPlaceHolder1" runat="server">
        
           <div></div>
        
        </asp:ContentPlaceHolder>
    </div>

			



		<!--<div id="sidebar">
			<div class="box2">
				<div class="title">
					<h2>Patient Services </h2>
				</div>
				<ul class="style2">
					<li><a href="#">Register Patient</a></li>
					<li><a href="#">Make Appointment</a></li>
					<li><a href="#">View Patient Information</a></li>
					<li><a href="#">Update Patient Information</a></li>
					<li><a href="#">Search Patient</a></li>
					<li><a href="#">Quam turpis feugiat sit dolor</a></li>
					<li><a href="#">Consequat etiam lorem phasellus</a></li>
				</ul>
			</div>
		</div>
            -->
	</div>
</div>
	<%--<div id="portfolio-wrapper">
		<div id="portfolio" class="container">
			<div id="column1">
				<div class="title">
					<h2>Suspendisse lacus</h2>
				</div>
				<a href="#" class="image image-full"><img src="images/pic02.jpg" alt="" /></a>
				<p>Etiam non felis. Donec ut ante. In id eros. Suspendisse lacus turpis, cursus egestas at sem. Mauris quam enim, molestie.</p>
				<a href="#" class="icon icon-arrow-right button">Read More</a> </div>
			<div id="column2">
				<div class="title">
					<h2>Fusce ultrices</h2>
				</div>
				<a href="#" class="image image-full"><img src="images/pic03.jpg" alt="" /></a>
				<p>Etiam non felis. Donec ut ante. In id eros. Suspendisse lacus turpis, cursus egestas at sem. Mauris quam enim, molestie.</p>
				<a href="#" class="icon icon-arrow-right button">Read More</a> </div>
			<div id="column3">
				<div class="title">
					<h2>Etiam posuere</h2>
				</div>
				<a href="#" class="image image-full"><img src="images/pic04.jpg" alt="" /></a>
				<p>Etiam non felis. Donec ut ante. In id eros. Suspendisse lacus turpis, cursus egestas at sem. Mauris quam enim, molestie.</p>
				<a href="#" class="icon icon-arrow-right button">Read More</a> </div>
			<div id="column4">
				<div class="title">
					<h2>Mauris vulputate</h2>
				</div>
				<a href="#" class="image image-full"><img src="images/pic05.jpg" alt="" /></a>
				<p>Etiam non felis. Donec ut ante. In id eros. Suspendisse lacus turpis, cursus egestas at sem. Mauris quam enim, molestie.</p>
				<a href="#" class="icon icon-arrow-right button">Read More</a> </div>
		</div>
	</div>--%>

</div>
<div id="copyright" class="container">
	<p>&copy; Copyright 2019. All rights reserved.  | Design by Team S-1</p>
</div>    
        
        
        
         
   
    </form>
</body>
</html>
