
.vs/config/applicationhost.config
.vs/config/applicationhost.config
.vs/Hospital Management System/v15/.suo
.vs/Hospital Management System/v15/Server/sqlite3/storage.ide-shm
.vs/Hospital Management System/v15/Server/sqlite3/storage.ide-wal
Hospital Management System/obj/Debug/Hospital Management System.csproj.CoreCompileInputs.cache
Hospital Management System/obj/Debug/Hospital Management System.csprojAssemblyReference.cache
.vs/config/applicationhost.config
.vs/Hospital Management System/v15/.suo
Hospital Management System/obj/Debug/Hospital Management System.csproj.CoreCompileInputs.cache
Hospital Management System/obj/Debug/Hospital Management System.csprojAssemblyReference.cache
